@model WebApplication1.Models.Suprimento

@{
    ViewBag.Title = "Delete";
}

<h3>Excluir</h3>

<h5>Tem certeza que deseja excluir este item?</h5>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            Peso Inicial
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PesoInicial)
        </dd>

        <dt>
            Peso Atual
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PesoAtual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> 
            <div>
                <button class="btn waves-effect waves-light" style="background-color:lightseagreen; margin-top:10px;">
                    @Html.ActionLink("Voltar a lista", "Index", null, new { @style = "color:white" })
                </button>
            </div>
        </div>
    }
</div>
