@model WebApplication1.Models.Suprimento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Suprimento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PesoInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PesoInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PesoAtual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PesoAtual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
